/*
  Styles for the map container, frame.

  z-index settings are important.
  layer 1: The cache iframe - so it is behind everything.
  layer 2: The Google map - on top of the cache frame.
  layer 3: Buttons and OLC code display.
  layer 4: Desktop display container - input bar and OLC display.
*/
.map_container-desktop {
  height: 100%;
  width: 100%;
  z-index: 2;
}
.map_container-mobile, .compass_container-mobile {
  position: absolute;
  top: 45px;
  left: 0px;
  right: 0px;
  bottom: 55px;
  z-index: 2;
}
.map_frame {
  width: 100%;
  height: 100%;
  background-color: #333;
}
#map_error {
  color: #fff;
  font-size: 120%;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  display: none;
}

/* Styles for the compass container and elements. */
#compass_container {
  background: black;
}
.compass_container-desktop {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.base_canvas-desktop, .indicator_canvas-desktop {
  position: absolute;
  top: 200px;
  left: 100px;
  /* Height and width set not by CSS. */
}
.base_canvas-mobile, .indicator_canvas-mobile {
  position: absolute;
  top: 20px;
  left: 20px;
  /* Height and width are computed from the screen size. */
}
p.distanceNum {
  font-size: 600%;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
p.distanceUnits {
  font-size: 300%;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* Style for the cache priming iframe. */
#cache_frame {
  position: absolute;
  top: 55px;
  left: 0px;
  height: 1px;
  width: 1px;
  z-index: 1;
  border: none;
}

/* Styles for the input bar. */
.display_container-desktop {
  border: 1px solid gray;
  position: absolute;
  top: 20px;
  left: 100px;
  width: 30%;
  min-width: 350px;
  z-index: 4;
}
#input_form {
  height: 100%;
  width: 100%;
}
.input_container-mobile {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 45px;
  border-top: 2px solid #5677fc;
}
.input_container-desktop {
  height: 40px;
  border-bottom: 1px solid #5677fc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input-desktop {
  font-size: 90%;
  width: 100%;
  height: 100%;
}
.input-mobile {
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 100%;
  height: 35px;
  border-bottom: 2px solid #5677fc;
}
.input-desktop,.input-mobile {
  padding: 10px;
  border: none;
  outline: none;
  padding-right: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
}
.help_icon-desktop {
  height: 40px;
}
.help_icon-mobile {
  height: 35px;
}
.help_icon-desktop,.help_icon-mobile {
  background-image: url("img/ic_action_help.png");
  width: 24px;
  background-size: 24px 24px;
  position: absolute;
  top: 0px;
  right: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Styles for the information box. */
.infopanel-desktop {
  padding: 10px;
  min-height: 110px;
  max-height: 180px;
  background: white;
}
.infopanel-mobile {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  padding: 5px 60px 5px 10px;
  border-top: 2px solid #5677fc;
  z-index: 3;
}
.infopanel-desktop, .infopanel-mobile {
  background: white;
  overflow-y: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#headline {
  font-size: 120%;
  font-weight: bold;
  color: #212121;
  margin-bottom: 5px;
}
#detail {
  font-size: 90%;
  color: #555;
  margin-bottom: 5px;
}
#message, #location_quality, #geocoder_messages {
  font-size: 90%;
  color: #555;
  margin-bottom: 10px;
}
a.codelink:link, a.codelink:visited, a.codelink:hover, a.codelink:active {
  color: inherit;
  text-decoration: none;
}

/* Styles for the buttons. */
.here_button-desktop {
  position: absolute;
  bottom: 180px;
  left: 30px;
}
.here_button-mobile {
  position: absolute;
  bottom: 126px;
  right: 10px;
}
.here_button-desktop, .here_button-mobile {
  z-index: 3;
  background-color: white;
  background-image: url("img/ic_action_location_off.png");
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #5677fc;
}
.here_button-accurate {
  background-image: url("img/ic_action_location_found.png");
}
.here_button-inaccurate {
  background-image: url("img/ic_action_location_searching.png");
}
.navigate_button-desktop {
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.navigate_button-mobile {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.navigate_button-desktop, .navigate_button-mobile {
  z-index: 3;
  display: block;
  background-color: white;
  background-image: url("img/ic_action_directions.png");
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #5677fc;
}
.mode_button-desktop {
  position: absolute;
  bottom: 110px;
  left: 30px;
}
.mode_button-mobile {
  position: absolute;
  bottom: 68px;
  right: 10px;
}
.mode_button-desktop, .mode_button-mobile {
  z-index: 3;
  background-color: white;
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #5677fc;
}
.compass_button-icon {
  background-image: url("img/compass.png");
}
.map_button-icon {
  background-image: url("img/ic_action_web_site.png");
}

/* Dialog style. */
.dialog-mobile {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: white;
  border: 1px solid gray;
}
.dialog-desktop {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: white;
  padding: 0px;
  border: 1px solid gray;
}
#dialog_title {
  color: white;
  background-color: black;
  padding: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}
#dialog_content {
  padding: 0.5em 1em 0.5em 1em;
}
.dialog_button {
  font-size: 110%;
  text-align: center;
  display: block;
  padding: 0.5em 1em 0.5em 1em;
}
.dialog_button_dismiss {
  padding: 10px;
  border-top: 1px solid gray;
  font-size: 90%;
  margin-top: 5px;
  text-align: center;
}
a.dialog_button:link, a.dialog_button:visited, a.dialog_button:hover, a.dialog_button:active {
  color: inherit;
  text-decoration: none;
}

/* Element styles. */
h1 {
  font-size: 200%;
  font-weight: 300;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: 300;
  font-family: Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}
